include ../includes/header.pug
.nk-app-root
  // main @s
  .nk-main
    // sidebar @s
    include ../includes/sidepanel.pug
    // sidebar @e
    // wrap @s
    .nk-wrap
      // main header @s
      include ../includes/navbar.pug
      // main header @e
      // content @s
      .nk-content
        .container-fluid
          .nk-content-inner
            .nk-content-body
              .nk-block-head.nk-block-head-sm
                .nk-block-between
                  .nk-block-head-content
                    h3.nk-block-title.page-title All Watchlist
                    .nk-block-des.text-soft
                      p You have total #{allWatchlists.length} items.
                  // .nk-block-head-content
                  .nk-block-head-content
                    .toggle-wrap.nk-block-tools-toggle
                      a.btn.btn-icon.btn-trigger.toggle-expand.me-n1(href='#' data-target='pageMenu')
                        em.icon.ni.ni-menu-alt-r
                      .toggle-expand-content(data-content='pageMenu')
                        ul.nk-block-tools.g-3
                          li
                            a.btn.btn-white.btn-outline-light(href='#')
                              em.icon.ni.ni-download-cloud
                              span Export
                          li.nk-block-tools-opt
                            .drodown
                              a.dropdown-toggle.btn.btn-icon.btn-primary(href='#' data-bs-toggle='dropdown')
                                em.icon.ni.ni-plus
                              .dropdown-menu.dropdown-menu-end
                                ul.link-list-opt.no-bdr
                                  li
                                    a(href='#' data-bs-toggle='modal' data-bs-target='#modalForm')
                                      span Add Media
                    // .toggle-wrap
                  // .nk-block-head-content
                // .nk-block-between
              // .nk-block-head
              .nk-block
                .card.card-bordered.card-stretch
                  .card-inner-group
                    .card-inner.position-relative.card-tools-toggle
                      .card-title-group
                        .card-tools.me-n1
                          ul.btn-toolbar.gx-1
                            li
                              a.btn.btn-icon.search-toggle.toggle-search(href='#' data-target='search')
                                em.icon.ni.ni-search
                            // li
                            li.btn-toolbar-sep
                            // li
                          // .btn-toolbar
                        // .card-tools
                      // .card-title-group
                      .card-search.search-wrap(data-search='search')
                        .card-body
                          .search-content
                            a.search-back.btn.btn-icon.toggle-search(href='#' data-target='search')
                              em.icon.ni.ni-arrow-left
                            input.form-control.border-transparent.form-focus-none(type='text' placeholder='Search by title or comment')
                            button.search-submit.btn.btn-icon
                              em.icon.ni.ni-search
                      // .card-search
                    // .card-inner
                    .card-inner.p-0
                      .nk-tb-list.nk-tb-ulist.is-compact
                        .nk-tb-item.nk-tb-head
                          .nk-tb-col
                            span.sub-text Title
                          .nk-tb-col.tb-col-md
                            span.sub-text Language
                          .nk-tb-col.tb-col-sm
                            span.sub-text Priority
                          .nk-tb-col.tb-col-md
                            span.sub-text Comment
                          .nk-tb-col.tb-col-lg
                            span.sub-text Added Date
                          .nk-tb-col.tb-col-xxl
                            span.sub-text Url
                          .nk-tb-col.nk-tb-col-tools.text-end
                        // .nk-tb-item
                      each watchlist in allWatchlists  
                        .nk-tb-item
                          .nk-tb-col
                            .user-card
                              .user-avatar.xs.bg-primary
                                span=watchlist.tvshow[0].name[0]
                              .user-name
                                span.tb-lead=watchlist.tvshow[0].name+" ("+watchlist.tvshow[0].original_name+")"
                          .nk-tb-col.tb-col-md
                            span=watchlist.tvshow[0].original_language
                          .nk-tb-col.tb-col-sm
                            span=watchlist.priority
                          .nk-tb-col.tb-col-md
                            span=watchlist.comment
                          .nk-tb-col.tb-col-lg
                            span=watchlist.tvshow[0].first_air_date
                          .nk-tb-col.tb-col-xxl
                            span=watchlist.url
                          .nk-tb-col.nk-tb-col-tools
                            ul.nk-tb-actions.gx-2
                              li.nk-tb-action-hidden
                                a.btn.btn-sm.btn-icon.btn-trigger(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='Edit')
                                  em.icon.ni.ni-wallet-fill
                              li.nk-tb-action-hidden
                                a.btn.btn-sm.btn-icon.btn-trigger(href='#' data-bs-toggle='tooltip' data-bs-placement='top' title='Change to Completed')
                                  em.icon.ni.ni-mail-fill
                              li
                                .drodown
                                  a.btn.btn-sm.btn-icon.btn-trigger.dropdown-toggle(href='#' data-bs-toggle='dropdown')
                                    em.icon.ni.ni-more-h
                                  .dropdown-menu.dropdown-menu-end
                                    ul.link-list-opt.no-bdr
                                      li
                                        a(href='#')
                                          em.icon.ni.ni-eye
                                          span View Movie Details
                        // .nk-tb-item
                      // .nk-tb-list
                    // .card-inner
                    .card-inner
                      ul.pagination.justify-content-center.justify-content-md-start
                        li.page-item
                          a.page-link(href='#') Prev
                        li.page-item
                          a.page-link(href='#') 1
                        li.page-item
                          a.page-link(href='#') 2
                        li.page-item
                          span.page-link
                            em.icon.ni.ni-more-h
                        li.page-item
                          a.page-link(href='#') 6
                        li.page-item
                          a.page-link(href='#') 7
                        li.page-item
                          a.page-link(href='#') Next
                      // .pagination
                    // .card-inner
                  // .card-inner-group
                // .card
              // .nk-block
      // content @e
      // footer @s
      include ../includes/footer.pug
      // footer @e
    // wrap @e
  // main @e
// app-root @e
// select region modal
#region.modal.fade(tabindex='-1' role='dialog')
  .modal-dialog.modal-lg(role='document')
    .modal-content
      a.close(href='#' data-bs-dismiss='modal')
        em.icon.ni.ni-cross-sm
      .modal-body.modal-body-md
        h5.title.mb-4 Select Your Country
        .nk-country-region
          ul.country-list.text-center.gy-2
            li
              a.country-item(href='#')
                img.country-flag(src='./images/flags/arg.png' alt='')
                span.country-name Argentina
            li
              a.country-item(href='#')
                img.country-flag(src='./images/flags/aus.png' alt='')
                span.country-name Australia
            li
              a.country-item(href='#')
                img.country-flag(src='./images/flags/english.png' alt='')
                span.country-name United State
    // .modal-content
  // .modla-dialog
// .modal
#modalForm.modal.fade
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5.modal-title Add Movie/TV Show/Book/Magazine
        a.close(href='#' data-bs-dismiss='modal' aria-label='Close')
          em.icon.ni.ni-cross
      .modal-body
        form#download-list-form.form-validate.is-alter
          .form-group
            label.form-label(for='media-select') Select Media Type
            .form-control-wrap
              .form-control-select
                select#media-select.form-control
                  option(value='1') Movie
                  option(value='2') TV Show
                  option(value='3' disabled='') Book
                  option(value='4' disabled='') Magazine
                  option(value='5' disabled='') Song
              .form-group
                label.form-label(for='default-01') Title
                .form-control-wrap
                  input#default-01.form-control(type='text' placeholder='Enter movie name' onchange='return loadMovieData(this);')
              .form-group
                label.form-label Select Movie
                .form-control-wrap
                  select#movie-select.form-select.js-select2(data-search='on')
                    //- option(value='default_option') Pick a Title
          .form-group
            .custom-control.custom-switch
              input#customSwitch1.custom-control-input(type='checkbox')
              label.custom-control-label(for='customSwitch1') Adult
          .form-control-wrap
            label.form-label(for='priority') Priority
            #priority.form-control-slider(data-tooltip='true' data-start='5' data-min='1' data-max='10')
          .form-group
            label.form-label(for='comment') Url
            .form-control-wrap
              input#url.form-control(type='text')
          .form-group
            label.form-label(for='comment') Comment
            .form-control-wrap
              input#comment.form-control(type='text')
          .form-group
            button.btn.btn-lg.btn-primary(type='submit') Save Informations
      .modal-footer.bg-light
        span.sub-text Modal Footer Text
// JavaScript
script(src='./assets/js/bundle.js?ver=3.0.3')
script(src='./assets/js/scripts.js?ver=3.0.3')
script(src='./frontend/script.js?ver=1.0.0')
